/* RESET STANDARD POSITIONING*/
* {
    padding: 0;
    margin: 0;
}

body{

    background-color: #e9eaed;
}

.main_container{
    margin: 0 auto;
    width: 800px;
    height: 100%;
}

.note{
    line-height: 1;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.element_row{
    line-height: 1;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    font-size: 16px;
    width: 800px;
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
    background-color: #fff;
    height: 100%;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    -webkit-border-radius: 3px;
}
.photo{
    float: left;
    position: relative;
    width: 150px;
    padding: 10px 10px 10px 20px;
}
.photo_likes{
    float: right;
    position: relative;
    width: 300px;
    padding: 10px 10px 10px 20px;

}
.clear{
    clear: both;
}
/* IMPORT*/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:500);
/* 2f4b87 */
/* 2f4b87 */
/* #1f325d */
/* Menu CSS */
nav {
    width: auto;
    min-height:50px;
    background: #3b5998;
    border: 1px solid #2b4479;
    border: 1px solid #2d4373;
}

/* HEADER MARKUP */
nav,
nav ul,
nav ul li,
nav ul li a {
    padding: 0;
    margin: 0;

    line-height: 1;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    -webkit-transition: all ease .3s;
    -o-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    transition: all ease .3s;
}
nav:before,
nav:after,
nav > ul:before,
nav > ul:after {
    content: '';
    display: table;
}
nav:after,
nav > ul:after {
    clear: both;
}
nav a {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
nav ul {
    float: left;
    max-width: 900px;
}
nav ul > li {
    float: left;
    list-style: none;
}
nav ul > li > .active {
    background: #2d4373;
    -webkit-box-shadow: inset 0 0 1px #1e2e4f;
    -o-box-shadow: inset 0 0 1px #1e2e4f;
    -moz-box-shadow: inset 0 0 1px #1e2e4f;
    -ms-box-shadow: inset 0 0 1px #1e2e4f;
    box-shadow: inset 0 0 1px #1e2e4f;
    -webkit-transition: all ease .3s;
    -o-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    transition: all ease .3s;
}
nav ul > li > a {
    height: 20px;
    display: block;
    text-decoration: none;
    padding: 15px 44px;
    position: relative;
}
nav ul > li > a:hover {
    background: #2d4373;
    -webkit-box-shadow: inset 0 0 1px #1e2e4f;
    -o-box-shadow: inset 0 0 1px #1e2e4f;
    -moz-box-shadow: inset 0 0 1px #1e2e4f;
    -ms-box-shadow: inset 0 0 1px #1e2e4f;
    box-shadow: inset 0 0 1px #1e2e4f;
    -webkit-transition: all ease .3s;
    -o-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    transition: all ease .3s;
}
nav ul > li > a:hover:before {
    content: '';
    z-index: 2;
    position: absolute;
    border: 1px solid white;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: -1px;
    opacity: .2;
}
nav ul > li > a:hover:after {
    content: '';
    z-index: 2;
    position: absolute;
    border: 1px solid white;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    right: -1px;
    opacity: .2;
}
nav > ul > li > ul {
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background: #3b5998;
    border: 1px solid #2b4479;
    border: 1px solid #2d4373;
    -webkit-box-shadow: 0 1px 2px rgba(2, 2, 2, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.15);
    -o-box-shadow: 0 1px 2px rgba(2, 2, 2, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.15);
    -moz-box-shadow: 0 1px 2px rgba(2, 2, 2, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.15);
    -ms-box-shadow: 0 1px 2px rgba(2, 2, 2, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.15);
    box-shadow: 0 1px 2px rgba(2, 2, 2, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.15);
}
nav > ul > li:hover > ul {
    opacity: 1;
    visibility: visible;
    position: absolute;
    border-radius: 0 0 3px 3px;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}
nav > ul > li > ul {
    width: 200px;
    position: absolute;
}
nav > ul > li > ul > li {
    float: none;
    position: relative;
}
nav > ul > li > ul > li > ul {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}
nav > ul > li > ul > li:hover > ul {
    border-radius: 0 0 3px 3px;
    opacity: 1;
    visibility: visible;
    position: absolute;
}
nav > ul > li > ul > li > ul {
    left: 200px;
    top: 1px;
    width: 200px;
}
nav > ul > li > ul > li > ul > li {
    float: none;
}

/* HEADER PROFILE*/
nav > #profile{
    float: left;
    width: 50px;
}